<% scope ||= nil %>
<dl>
  <dt>
    <label for="<%= "record_#{column.name}" %>">
      <%= active_scaffold_config.columns[:line3].label %>
    </label>
  </dt>
  <dd>
    <%= form_column(active_scaffold_config.columns[:amount3], scope) %> 
    <%= form_column(active_scaffold_config.columns[:text3], scope) %>
  </dd>
</dl>